 h1 {
	display: inline-block;
}


/*
	Thanks to Theresa O'Connor for the LaTeX formatting
	http://tess.oconnor.cx/2007/08/tex-poshlet
*/
.latex sub, .latex sup {
  text-transform: uppercase;
}

.latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.latex, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}


.right-time-range {
	float: right;
}


