/* css for jodylesage.com */
@body-bg: #e7e7e7;

.align-middle {
	text-align: left;
	padding-left: 50px;
	
}

body {
	padding-top: 61px;
	height: 100%;
	background-color: #e7e7e7;
	margin: auto;
}

#contact {
	padding-top: 30px;
	padding-left: 30px;
}

.container{
	height: 100%;
}

.content {
	display: none;
	width: 100%;
	height: 95%;
	position: inherit;
}

.featurette {
      padding-top: 45px;
      overflow: hidden;
}

.featurette-image {
      margin-top: -45px;
    }

.featurette-image.pull-left {
	margin-right: 40px;
}

.featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
}

form, div {
	background-color: inherit;
}

.fill {
	height: 100%;
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
}

#home {
	display: block;
}

html{
	height: 100%;
	min-height: 100%;
	background-color: #eee;
}

iframe {
	border: none;
	width: 100%;
	height: 100%;
}

img {
	height: auto;
}

/* responsive CSS */
@media (max-width: 979px) {
	.featurette {
        height: auto;
        padding: 0;
      }
	  
	.featurette-image.pull-left {
		display: block;
		float: none!important;
		max-width: 40%;
		margin: 0 auto 20px;
	}
	
	h2, h3, #action-buttons{
		text-align: center;
	}
	
	
}

/* CSS for printing */
@media only print{
	.featurette {
		font-family: "Times New Roman", "Times", serif !important;
	}
	
	.no-print {
		display: none !important;
	}
	
	body.page{
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		height: 100%;
		display: block;
		width: 100%;
	}
	
	
	
	.grecaptcha-badge {
		display: none !important;
	}
	
	iframe{
		overflow:hidden;
		width: 100%;
		height: 100%;
	}
	
	iframe::-webkit-scrollbar {  
		display: none;
	}  
	
	html{
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
	}
	
	main {
		padding: 0.5cm;
		margin: 0px 0px 0px 0px;
		width: auto;
		min-width: 0px;
		min-height: 0px;
	}
	
	#resume{
		position: relative;
		top: 0;
		width: 100%;
		height: 100%;
	}
	
	#resume-iframe{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
	
}

#submitRecaptcha {
	display: none !important;
};