/* css for jodylesage.com */
@body-bg: #e7e7e7;

@font-face {
    font-family: 'Lekton Bold';
    src: url('../fonts/lekton/Lekton-Bold.ttf');
}

.align-middle {
	text-align: left;
	padding-left: 50px;
	
}

#action-buttons  {
	background-color: none;
}

body {
	padding-top: 61px;
	height: 100%;
	background-color: #e7e7e7;
	margin: auto;
}

.center-cropped {
	background-image: url("../images/keyboard_white.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.contact-info {
	position: relative;
	display: block;
	max-width: 100%;
	max-height: 100%;
	text-align: center;
	margin-top: 50px;
}

.container{
	width: 100%;
}

.content {
	display: none;
	width: 100%;
	height: 95%;
	position: inherit;
}

.contact-element {
	display: inline-block;
	vertical-align: middle;
}

.featurette {
	padding-top: 45px;
	overflow: hidden;
}

.featurette-image {
  margin-top: -45px;
}

.featurette-image.pull-left {
	margin-right: 40px;
}

.featurette-heading {
      font-size: 30px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
}

.name-plate {
	font-size: 50px;
}

form, div {
	background-color: inherit;
}

.fill {
	height: 100%;
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
}

.myName {
	font-size: 46px;
    font-weight: 400;
    font-family: "Lekton Bold", Monaco, monospace;
    color: #283346;
}

.navbar-nav {
	font-size: 15px;
	font-weight: bold;
}

.portfolio-img {
	max-width: 50%;
}

#home {
	display: block;
}

#face {
	max-height: 350px;
	max-width: 85%;
}

html{
	height: 100%;
	min-height: 100%;
	background-color: #eee;
}

iframe {
	border: none;
	width: 100%;
	height: 100%;
}

/*
	img with caption css courtesy Pete Houston
	https://gist.github.com/petehouston/85dd33210c0764eeae55
*/
.thumbnail {
    position: relative;
	height: 98%;
}

.caption {
    position: relative;
    top: 30%;
	margin: auto;
	max-width: 50%;
}

.sub-caption {
	font-size: 25px;
    font-weight: 400;
    font-family: "Lekton Bold", Monaco, monospace;
    color: #283346;
}

/* responsive CSS  (768 is the minimum mobile width for bootstrap)*/
@media (max-width: 768px) {
	/*
	.featurette {
        height: auto;
        padding: 0;
      }
	  
	.featurette-image.pull-left {
		display: block;
		float: none!important;
		max-width: 50%;
		margin: 0 auto 20px;
	}*/
	

	h2, h3, #action-buttons{
		text-align: center;
	}
	
	iframe {
		min-width: 100%;
	}
	
	.caption {
		top: 25%;
		max-width: 80%;
	}
}

/* CSS for printing */
@media only print{
	.featurette {
		font-family: "Times New Roman", "Times", serif !important;
	}
	
	.no-print {
		display: none !important;
	}
	
	body.page{
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		height: 100%;
		display: block;
		width: 100%;
	}

	.grecaptcha-badge {
		display: none !important;
	}
	
	iframe{
		width: 100%;
		height: 100%;
	} 
	
	html{
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
	}
	
	main {
		padding: 0.5cm;
		margin: 0px 0px 0px 0px;
		width: auto;
		min-width: 0px;
		min-height: 0px;
	}
	
	#resume{
		position: relative;
		top: 0;
		width: 100%;
		height: 100%;
	}
	
	#resume-iframe{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
	
}

#submitRecaptcha {
	display: none !important;
};