/* css for jodylesage.com */

body {
	padding-top: 61px;;
	height: 100%;
	background-color: #e7e7e7;
	margin: auto;
}

.container{
	height: 100%;
}

.content {
	display: none;
	width: 100%;
	height: 95%;
	position: inherit;
}

.fill {
	height: 100%;
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
}

#home {
	display: block;
}

html{
	height: 100%;
	min-height: 100%;
	background-color: #eee;
}

iframe {
	border: none;
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
}

@media only print{
	body {
		padding-top: 0;
		padding-bottom: 20px;
		height: 100%;
		display: block;
		margin: 8px 8px 8px 8px;
		width: 95%;
	};
	
	#resume{
		position: relative;
		top: 0;
		width: 100%;
		height: 0;
	};
	
	#resume-iframe{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	};

	* {
		page-break-after: avoid;
		page-break-before: avoid;
		page-break-inside: avoid;
	};
}

#recaptcha{
	/*display: none;*/
	padding-top: 0px;
	display: none;
};

#submitRecaptcha {
	visibility: hidden;
}